body {
  background-color: #f8f2f2;
  color: #004c4c;
}
h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #004c4c;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.story-text {
  line-height: 1.5;
  width: 800px;
}
header {
  line-height: 2;
}

figure {
  line-height: 1.5;
}

h3 {
  line-height: 1;
  width: 800px;
}
header p {
  line-height: 3;
}
